[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binance-futures = "*"
pytest = "*"
python-dotenv = "*"
python-dateutil = "*"
max-exchange-api-python3 = {editable = true, path = "./../max-exchange-api-python3"}
bitfinex-api-py = "*"
apscheduler = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
