[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
binance-futures = "*"
pytest = "*"
python-dotenv = "*"
python-dateutil = "*"
psycopg2 = "*"
long = "*"

[dev-packages]

[requires]
python_version = "3.9"
